.block1 {
    background-color: rosybrown;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 130px;
    padding-bottom: 130px;
}
.wrapper {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image {
    height: 250px;
    width: 200px;
    background-color: gray;
}
.title {

}
.info {
    background-color: gray;
    font-weight: 700;
}








@media (max-width: 1200px) {
    .wrapper {
        border: none;
    }
}

@media (max-width: 650px) {
    .wrapper {
        flex-wrap: wrap;
        gap: 40px
    }
    .container {
        padding-top: 20px;
        padding-bottom: 60px;
        margin: 0 10px 0 10px;
    }
}
