.header {
    background-color: orange;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}
.nav {

}
.list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    border: 1px solid black;
}
.listLink {
    text-decoration: none;
}








@media (max-width: 1200px) {
    .list {
        margin-right: 100px;
    }
}
@media (max-width: 600px) {
    .container {
        justify-content: center;
        align-items: center;
    }
    .list {
        margin-right: 0;
    }
}
