.works {
    background-color: darkseagreen;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.wrapper {
    border: 1px solid black;
}
.top {
    display: flex;
    justify-content: center;
}
.title {
    background-color: gray;
    margin-bottom: 100px;
}
.bottom {
    display: flex;
    justify-content: space-between;
}






@media (max-width: 1200px) {
    .wrapper {
        border: none;
        margin: 0 20px 0 20px;
    }
    .bottom {
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .title {
        margin-bottom: 40px;
    }
}
