.contacts {
    background-color: rosybrown;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}
.title {
    background-color: gray;
    margin-bottom: 50px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    margin-bottom: 50px;
}
.btn {
    background-color: gray;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 18px;
}









@media (max-width: 1200px) {
    .inner {
        border: none;
    }
}
@media (max-width: 500px) {
    .form {
        border: none;
        width: 90%;
    }
    .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
